* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: burlywood;
}

.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
}    


